services:
  postgres:
    image: postgres:15-alpine
    container_name: bookstore-postgres
    environment:
      POSTGRES_DB: bookstore
      POSTGRES_USER: bookstore
      POSTGRES_PASSWORD: password
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=C"
    volumes:
      - ./init-scripts:/docker-entrypoint-initdb.d
    command: >
      postgres
      -c search_path=bookstore,public
    ports:
      - "5432:5432"
    networks:
      - bookstore-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U bookstore -d bookstore" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  bookstore-network:
    driver: bridge